# Node
**/node_modules/
**/.pnp
**/.next/
**/.turbo/
**/.vercel/
**/dist/
**/build/
**/coverage/
**/out/
.pnp.js
.yarn/install-state.gz
*.tsbuildinfo

# Logs
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.pnpm-debug.log*

# Env
*.env
*.env.local
*.env.*.local

# Hardhat
contracts/cache/
contracts/artifacts/build-info/

# OS/Editor
.DS_Store
*.swp
.vscode/
.idea/
